<h1>Healthcheck Status</h1>
<p>Overall Status: <%= @status %></p>

<% @results.each do |result| %>
  <div>
    <%= result[:success] ? "✅" : "❌" %>
    <%= result[:name] %>: <%= result[:message] %> [query took <%= result[:duration] %>ms]
  </div>
<% end %>